# 网关 REST 地址
VITE_BASE_API=http://127.0.0.1:3000/api/jdjy
VITE_STRATEGY_API=http://127.0.0.1:3000/api/jdjy
VITE_HOME_FEED_API=http://127.0.0.1:3000/api/jdjy

# 实时行情地址
VITE_GOLD_WS_API=wss://cfws.jdjygold.com/data
VITE_RTJ_SSE_API=http://127.0.0.1:3000/api/rtj/stream
